<h2> New QRcode </h2>

<%= form_for @qrcode, :url => qrcodes_path do |f| %>

    <%= render :partial => "form", :locals => { :f => f} %>

    <%= f.submit "創立", :class => "btn btn-default"  %>

<% end %>

<p><%= link_to '回到主選單', qrcodes_path, :class => "btn btn-default"  %></p>
