<h2> New QRcode </h2>

<%= form_for @qrcode, :url => qrcodes_path do |f| %>

    <%= render :partial => "form", :locals => { :f => f} %>

    <%= f.submit "Create", :class => "btn btn-default"  %>

<% end %>
